/* 
    Document   : contentStyle
    Created on : Apr 14, 2013, 7:40:55 AM
    Author     : Buddhika
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    text-align: center;
}

table
{
    border-collapse:collapse;
    width: 100%;
}
table,th, td
{
    /*border: 1px solid black;*/
    text-align: center;
    padding: 0px;
    margin:0px;

}
ul li{
    text-align: left;
    list-style-type:circle;
    margin-left: 50px;
}

.fancyBox{
    /*border: 5px solid yellow;*/

    background-image: linear-gradient(top, rgb(255,252,252) 4%, rgb(222,212,212) 52%);
    background-image: -o-linear-gradient(top, rgb(255,252,252) 4%, rgb(222,212,212) 52%);
    background-image: -moz-linear-gradient(top, rgb(255,252,252) 4%, rgb(222,212,212) 52%);
    background-image: -webkit-linear-gradient(top, rgb(255,252,252) 4%, rgb(212,222,212) 52%);
    background-image: -ms-linear-gradient(top, rgb(255,252,252) 4%, rgb(222,212,212) 52%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.04, rgb(255,252,252)),
        color-stop(0.52, rgb(222,212,212))
        );

    margin: 10px;
    padding: 25px;


    -webkit-box-shadow: 4px 4px 2px rgba(80, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 2px rgba(80, 50, 50, 0.75);
    box-shadow:         4px 4px 2px rgba(80, 50, 50, 0.75);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.fancyBoxLeft{
    /*border: 5px solid yellow;*/

    text-align: left!important;
    
    background-image: linear-gradient(top, rgb(255,252,252) 4%, rgb(222,212,212) 52%);
    background-image: -o-linear-gradient(top, rgb(255,252,252) 4%, rgb(222,212,212) 52%);
    background-image: -moz-linear-gradient(top, rgb(255,252,252) 4%, rgb(222,212,212) 52%);
    background-image: -webkit-linear-gradient(top, rgb(255,252,252) 4%, rgb(212,222,212) 52%);
    background-image: -ms-linear-gradient(top, rgb(255,252,252) 4%, rgb(222,212,212) 52%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.04, rgb(255,252,252)),
        color-stop(0.52, rgb(222,212,212))
        );

    margin: 10px;
    padding: 25px;


    -webkit-box-shadow: 4px 4px 2px rgba(80, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 2px rgba(80, 50, 50, 0.75);
    box-shadow:         4px 4px 2px rgba(80, 50, 50, 0.75);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}


.boxTopic{
    text-shadow:1px 1px 0 rgba(NaN,NaN,NaN,1);
    font-weight:bold;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:15px;
    text-align:left;
    font-family:verdana, sans-serif;
    line-height:1;
    padding: 15px;
    margin: 15px;
}

.boxText{
    font-family: georgia, serif;
    color: #A60000;
    font-size: 12px;
    text-align: justify;
    word-spacing: 2.8pt;
    line-height: 2.3;

}
.boxTextLeft{
    font-family: georgia, serif;
    color: #A60000;
    font-size: 12px;
    text-align: left;
    word-spacing: 2.8pt;
    line-height: 2.3;

}