/* 
    Document   : contentStyle
    Created on : Apr 14, 2013, 7:40:55 AM
    Author     : Buddhika
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    text-align: center;
}

table
{
    border-collapse:collapse;
    background: red;
    width: 100%;
}
table,th, td
{
    border: 1px solid black;
    text-align: center;
    padding: 0px;
    margin:0px;
    
}