html{
    min-height: 100%;
}
body	{
    font-family : "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    text-align : center;
    padding-top : 1em;


    background: rgb(173,165,164); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(173,165,164,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,165,164,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(173,165,164,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(173,165,164,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(173,165,164,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(173,165,164,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ada5a4', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */

}

.goodpadingandmargin{
    padding: 5px;
    margin: 5px auto !important;
}

.indeximg{
    width: 200px;
    height: 200px;
    margin: 1px auto !important;
    padding: 1px;
}

#header{
    width:100%;
    height: 85px;

    background: rgb(255,247,226); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,247,226,1) 0%, rgba(255,187,0,1) 56%, rgba(255,187,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,247,226,1)), color-stop(56%,rgba(255,187,0,1)), color-stop(100%,rgba(255,187,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,247,226,1) 0%,rgba(255,187,0,1) 56%,rgba(255,187,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,247,226,1) 0%,rgba(255,187,0,1) 56%,rgba(255,187,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,247,226,1) 0%,rgba(255,187,0,1) 56%,rgba(255,187,0,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,247,226,1) 0%,rgba(255,187,0,1) 56%,rgba(255,187,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7e2', endColorstr='#ffbb00',GradientType=1 ); /* IE6-9 */

    vertical-align: middle;
    overflow: hidden;
}

.headerblocks{
    float: left;
    text-align: center;
    display:table-cell;
    vertical-align: middle ;
    min-height: 90%;
    padding: 10px;
}

.topbutton{
    font-family : "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    text-align : center;
    min-width: 240px;
    max-width: 240px;
    max-height: 30px;
    min-height: 30px;
    background: rgb(153,0,0);
    border: 0px;
    margin: 0px;
    padding: 1px;
    font-size: larger;
    color: rgb(255,240,240);
    overflow: hidden;
}

.topbutton:hover {
    color: rgb(255,240,0);
    font-weight: bolder;
}

.languagebutton{
    font-family : "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    text-align : center;
    min-width: 240px;
    max-width: 240px;
    max-height: 50px;
    min-height: 50px;
    background: rgb(153,0,0);
    border: 1px;
    margin: 10px;
    padding: 10px;
    font-size: larger;
    color: rgb(255,240,240);
    overflow: hidden;
}

.languagebutton:hover {
    color: rgb(255,240,0);
    font-weight: bolder;
}

.chatbutton{
    font-family : "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    text-align : center;
    min-width: 240px;
    max-width: 240px;
    max-height: 30px;
    min-height: 30px;
    background: rgb(153,0,0);
    border: 0px;
    margin: 0px;
    padding: 1px;
    font-size: larger;
    color: rgb(255,240,240);
    overflow: hidden;
}

.chatbutton:hover {
    color: rgb(255,240,0);
    font-weight: bolder;
}



.verticalline{
    min-height: 70px;
    max-width: 6px;
    background: rgb(30,0,0);
    box-shadow: 1px 1px rgb(255,200,200);

}




#pelogo{
    max-height:  70px;
    max-width: 70px;
}

#rxlogo{
    max-height:  70px;
    max-width: 70px;
    opacity: .2;
}
.headingdiv{
    padding: 0px;
    margin: 0px;
}

.headerfont{
    text-shadow: -1px 0 rgb(255,250,250), 0 1px rgb(255,250,250), 1px 0 rgb(255,250,250), 0 -1px rgb(255,250,250);
    /*text-shadow: 10px 10px 5px #888;*/
    font-family: Verdana, Geneva, sans-serif;
    /*text-shadow: 2px 2px rgb(250,200,200);*/
    font-size: x-large;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    color: rgb(5,5,5);
}

.jsfbutton{
    color : white ;
    background: #40211C url(image/bg.jpg);
    padding: 10px;
    min-width: 130px;
    min-height: 20px;
}

.jsfbutton:hover{

    -webkit-filter:  saturate(2);
    font-weight: bolder;
}

h1, h2, h3  {
    padding : 0.5em 0;
    font-family : Arial, Helvetica, sans-serif;
    font-weight : normal;
    letter-spacing: -1px;
}
h1 {
    font-size : 140%;
    color : #505050;
}
h2 {
    font-size : 130%;
    color : #505050;
}
h3 {
    font-size : 120%;
    color : #505050;
}
p  {
    padding : 0.5em 0;
    font-size : 100%;
    line-height : 150%;
}
a:link {
    color : #EA8300;
    text-decoration : underline;
}
a:visited {
    color : #EA8300;
}
a:hover {
    color : #555;
}
a:focus, a:active {
    color : #333;
    text-decoration : underline;
}
a.external {
    text-decoration : none;
    border-bottom : 1px dotted #cfcfcf;
}
ul {
    list-style-type : disc;
    padding : 0.5em 0;
}
li {
    list-style-type : none;
}
img, img a {
    border : none;
}
#container {
    width : 98%;
    margin : 0 auto;
    text-align : left;
}
#content  {
    /*float : left;*/
    width : 100%;
    margin: 0 auto;
    border-top : 1px solid #cfcfcf;
    background-color: #FFFFFF;
    min-width: 80%;
}
#content-left  {
    display : inline;
    float : left;
    width : 150px;
    margin : 5px;
    padding : 5px;
    color : #555;
    background: red;
    min-height: 400px;

}
#content-left h1 {
    padding : 10px;
    margin : auto;
    border-top : 1px solid #cfcfcf;
    font-size : 120%;
}
#content-right  {
    float: right;
    min-width: -webkit-calc(100% - 190px);
    max-width: -webkit-calc(100% - 190px);
    min-width: calc(100% - 190px);
    max-width: calc(100% - 190px);
    padding:5px;
    margin: 5px ;
    background: yellow;
    overflow: hidden;
}
#content-right h2 {
    padding-top : 10px;
    margin-top : 10px;
    border-top : 1px solid #cfcfcf;
    font-size : 120%;
}
#content-right p {
    padding-top : 10px;
}
#content-right ul {
    padding-top : 10px;
}
#content-right a {
    text-decoration : none;
}
#nav-main  {
    /*float : left;*/
    width : 100%;
    background :    rgb(153,0,0);
    /*url(image/header.jpg);*/
    /*    border-bottom : 1px solid #a6aba4;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #a6aba4;*/
    max-height:30px;
    min-width: calc(100% - 15px);
    min-width: -webkit-calc(100% - 15px);
    padding: 1px;

}
h1{
    color:#fff;
    font-size:25px;
    height:5px
}
.transparentpic{
    opacity:0.9;
}

#loginbox{
    max-width: 330px;
}